* {
    margin: 0;
    padding: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

*:focus {
    outline-color: #f6821f;
}

html {
    font-size: 16px;
}

body {
    /*display: flex;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8fbfb;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Inter,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    overflow-x: hidden;
    line-height: 1.4;
    height: 100vh;
    width: 100vw;
}

main {
    z-index: 1;
    padding: 2rem;
    max-width: 600px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

blockquote {
    display: block;
    font-size: 0.85rem;
    padding-left: 0.75rem;
    border-left: 4px solid #f6821f;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

blockquote p {
    margin-bottom: 0.5rem;
}

.input {
    display: block;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.input label,
.checklist > label {
    display: block;
    font-weight: bold;
}

.input textarea,
.input input,
.input select {
    width: 100%;
    display: block;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #000;
    padding: 0.375rem 0.5rem;
    min-height: 2rem;
    height: 2rem;
}

.checklist li {
    list-style: none;
    padding-left: 0.5rem;
    margin-bottom: 0.25rem;
}

.checklist input {
    margin-right: 0.25rem;
}



/*== 外の線が伸びる */
.submit-btn{
    width: 100%;
    cursor: pointer;
    margin-top: 1.5rem;
    /*線の基点とするためrelativeを指定*/
    position:relative;
    /*ボタンの形状*/
    color:white;
    background-color: #f6821f;
    border:1px solid #333;
    padding: 0.75rem;
    display:inline-block;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    /*アニメーションの指定*/
    transition:all 0.3s ease-in-out;
}

/*hoverした際の背景の形状*/
.submit-btn:hover{
    background:#333;
    color: #fff;
    border-color:transparent;
}

/*線の設定*/
.submit-btn::before,
.submit-btn::after {
    content:'';
    /*絶対配置で線の位置を決める*/
    position:absolute;
    border:solid #333;
    width:10px;
    height:10px;
    /*アニメーションの指定*/
    transition:all 0.3s ease-in-out;
}

/*線の位置と形状*/
.submit-btn::before{
    top:-6px;
    left:-6px;
    border-width:1px 0 0 1px;
}

/*線の位置と形状*/
.submit-btn::after{
    bottom:-6px;
    right:-6px;
    border-width:0 1px 1px 0;
}

/*hoverした際の線の形状*/
.submit-btn:hover::before,
.submit-btn:hover::after{
    width:calc(100% + 11px);
    height:calc(100% + 11px);
    border-color:#666;
}


/*画像送信*/
#dragDropArea{
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
    border: #ddd dashed 5px;
    min-height: 200px;
    text-align: center;
}
#dragDropArea p{
    color: #999;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4em;
}
#dragDropArea .drag-drop-buttons{
    margin-top: 20px;
    font-size: 12px;
    font-size: 1.2em;
}
.drag-drop-buttons input{
    margin: auto;
}

/* 背景 */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
}